{{#each loaded}}
	<li class="friend" data-id="{{id}}" draggable="true">

			<img class="friend__photo" src="{{photo_100}}">
			<p class="friend__name">{{first_name}} {{last_name}}</p>
			<button class="friend__add"></button>


	</li>
{{/each}}

